# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# dotenv environment variables
.env

# OS files
.DS_Store

# Build output
dist/
build/

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Editor folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
